# DIS08 / OR92 Data Modeling: Python - Introduction (Setup, file management, etc.)

In this lecture, we’ll cover and recap the basics of Python programming, including:

- Python data structures: lists, tuples, dictionaries, and sets.
- Basic file management: reading from and writing to files.
- String handling: manipulation of text data and regular expressions.

In the lab assignments, you will setup your Python development environment, rerun this notebook, and get started with the `pandas` library.

If you would like to study Python more in-depth, we recommend the book [Automate the Boring Stuff With Python](https://automatetheboringstuff.com/). This book also inspired some of the contents in this notebook.

1. Basic Syntax

In [53]:
# This is a comment in Python

In [54]:
# Print "Hello, World!" to the console
print("Hello, World!")

Hello, World!

In [55]:
# Variable assignment
x = 5  
x

5

2. Data Types

In [56]:
# Integer type
integer_num = 10
type(integer_num)

int

In [57]:
# Float type
float_num = 3.14
type(float_num)

float

In [58]:
# String type
str_val = "Python"
type(str_val)

str

3. Basic Operators

In [59]:
a = 10
b = 3

In [60]:
# Addition
print(a + b)

13

In [61]:
# Subtraction
print(a - b)

7

In [62]:
# Multiplication
print(a * b)

30

In [63]:
# Division
print(a / b)

3.3333333333333335

In [64]:
# Modulus (remainder)
print(a % b)

1

In [65]:
# Exponentiation
print(a ** b)

1000

4. Control Structures

In [66]:
# If-Else statement
x = 5
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [67]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
# While loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## Data Structures

In [69]:
# List
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Accessing elements

# Tuple (immutable list)
my_tuple = (6, 7, 8)
print(my_tuple[0])

# Dictionary (key-value pairs)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])

# Set
my_set = {"apple", "banana", "cherry"}
print(my_set)

1
6
John
{'cherry', 'banana', 'apple'}

A list is a collection which is ordered and changeable. It allows duplicate members.

In [70]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an item
fruits.append("orange")
print(fruits)

# Accessing items
print(fruits[1])

# Removing an item
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['apple', 'cherry', 'orange']

A tuple is a collection which is ordered but unchangeable (immutable). It allows duplicate members.

In [71]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

# Accessing items
print(my_tuple[1])

# Tuples are immutable, so the following code will cause an error:
# my_tuple[1] = "orange"

('apple', 'banana', 'cherry')
banana

A dictionary is a collection which is unordered, changeable, and indexed. It does not allow duplicates.

In [72]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

# Accessing values
print(person["name"])

# Modifying a value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}

6. Functions

In [73]:
def greet(name):
    """This function greets the person passed in as parameter"""
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

A set is a collection which is unordered, unindexed, and does not allow duplicate members.

In [74]:
# Creating a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

# Adding an item
my_set.add("orange")
print(my_set)

# Removing an item
my_set.remove("banana")
print(my_set)

{'cherry', 'banana', 'apple'}
{'cherry', 'orange', 'banana', 'apple'}
{'cherry', 'orange', 'apple'}

## Basic File Management in Python

You can also use many command line tools in a Jupyter notebook. We use `echo` to create a first text file.

In [75]:
!echo "This is the beginning of a new file!\n" >> example.txt

To read a file, use the open() function in reading mode ('r').

In [76]:
# Reading from a file
file = open("example.txt", "r")

# Read the entire content of the file
content = file.read()
print(content)

# Always remember to close the file after you're done
file.close()

Hello, World!
This is a new line.
This is an appended line."This is the beginning of a new file!\n"

To write to a file, use the open() function in write mode ('w').

In [77]:
# Writing to a file
file = open("example.txt", "w")
file.write("Hello, World!\nThis is a new line.")
file.close()

You can also append data to an existing file using append mode ('a').

In [78]:
# Appending to a file
file = open("example.txt", "a")
file.write("\nThis is an appended line.")
file.close()

It’s a good practice to use the `with` statement when working with files to ensure the file is properly closed after the operations.

In [79]:
# Using 'with' statement to open and read a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

## String Handling in Python

Python provides a variety of methods for manipulating and handling strings.

In [80]:
# Concatenating strings
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

**String Formatting:** You can format strings using the format() method or f-strings (in Python 3.6+).

In [81]:
# Using format method
message = "Hello, {}!".format(name)
print(message)

# Using f-strings (Python 3.6+)
message = f"Hello, {name}!"
print(message)

Hello, Alice!
Hello, Alice!

**String Methods:** Some common string methods in Python include upper(), lower(), replace(), and split().

In [82]:
# Changing case
text = "Hello, World!"
print(text.upper())
print(text.lower())

# Replacing parts of a string
print(text.replace("World", "Python"))

# Splitting a string
words = text.split(", ")
print(words)

HELLO, WORLD!
hello, world!
Hello, Python!
['Hello', 'World!']

**Regular expressions:** The re.search() function searches for a match in a string.

In [83]:
import re

# Search for the word 'Python' in a string
text = "Welcome to Python programming!"
pattern = "Python"

# Search for the pattern
match = re.search(pattern, text)

# The re.search() function looks for the word “Python” in the text. If found, it returns a match object, otherwise None.
if match:
    print("Match found!")
else:
    print("No match.")

Match found!

## Quiz time!

**Question:** What will be the output of the following code?

In [84]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

banana

A) "apple"  
B) "banana"  
C) "cherry"  
D) ["apple", "banana", "cherry", "orange"]

**Question:** What error will the following code produce?

In [85]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

A) TypeError: 'tuple' object does not support item assignment  
B) IndexError: tuple index out of range  
C) No error, it works fine  
D) AttributeError: 'tuple' object has no attribute 'append'

**Question:** What will be the value of car["year"] after running the following code?

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2022
print(car["year"])

2022

A) 1964  
B) 2022
C) None  
D) KeyError: 'year'

**Question:** What will happen if the following code is executed, and example.txt doesn’t exist in the directory?

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

A) It will create a new file named example.txt.  
>B) It will throw a FileNotFoundError.  

C) It will print an empty string.  
D) It will print None.

**Question:** What will be the value of message in the following code?

In [ ]:
name = "Alice"
greeting = "Hello"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

A) "Hello Alice"  
B) "Hello, Alice!"  
C) "Hello Alice!"  
D) ", Alice!"

**Question:** What will the following code output?

In [ ]:
text = "Welcome to Python"
print(text.upper())

WELCOME TO PYTHON

A) WELCOME TO PYTHON  
B) welcome to python  
C) Welcome To Python  
D) Welcome to python

**Question:** What happens if you try to add a duplicate item to a set?

In [ ]:
my_set = {"apple", "banana", "cherry"}
my_set.add("banana")
print(my_set)

{'cherry', 'banana', 'apple'}

A) The set will now contain two "banana" items.  
B) The set will raise an error.  
>C) The set will remain unchanged.  
 
D) The set will reorder itself.

**Question:** What is the correct way to format a string using f-strings in the following code?

In [ ]:
name = "Alice"
age = 25
message = f"My name is ... and I am ... years old."
print(message)

My name is ... and I am ... years old.

A) f"My name is {name} and I am {age} years old."  
B) f"My name is name and I am age years old."  
> C) "My name is {name} and I am {age} years old."

D) "My name is name and I am age years old."

**Question:** What will be the output of the following code?

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-2])

40

A) 20  
B) 40  
C) 30  
D) 50

**Question:** What will the following code output?

In [ ]:
person = {
    "name": "John",
    "age": 30
}
print("height" in person)

False

A) True  
B) False  
C) None  
D) KeyError: 'height'

## Lab Assignments

Download this notebook from Moodle and rerun the examples from today's lecture. If you can execute all of the code cells above you are done! The setup guide below will help you to get started!

Once, you have setup your Python/Jupyter environment, please do the following task:

- Download this [dataset](https://librarycarpentry.org/lc-python-intro/files/data.zip) and extract it (do not commit it to this repository).
- Get familiar with the [pandas](https://pandas.pydata.org/) library and install it in your Python environment.
- Load one or more of the CSV files in the data/ directory as a DataFrame.
- Use the functions `info()`, `head()`, `tail()`, `describe()`, and the variable `columns` to get some basic information about the data. Also document and describe the outputs.
- How do you get the first/last ten rows of the DataFrame?
- How do you get the rows between row 30 and row 40?
- How do you get a specific column, e.g., 'year'? What kind of `type()` has the column?
- What is the `*.pkl` file? How do load it into your program and what are the data contents in it?
- What is the purpose of `.loc()` and `.iloc()`?
- How do you sort values in a column?

When you have completed the tasks, please commit this notebook to your GitHub repository in the directory `assignments/06/`.

In [ ]:
import pandas as pd
# Defining the File Path
file_path = r"C:\Users\davio\myenv\data\2011_circ.csv"
# Reading the CSV File into a DataFrame
df = pd.read_csv(file_path)

In [ ]:
df.info()
# The output of df.info() shows that the DataFrame has 80 rows and 17 columns.
# It contains 3 object columns (text), 1 float64 column ("zip code"), and 13 int64 columns (monthly and "ytd" data).
# All columns have no missing values. The DataFrame uses about 10.8 KB of memory.

In [102]:
df.head()
# This will display the first 5 rows of the DataFrame

,branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd
0,Albany Park,5150 N. Kimball Ave.,Chicago,60625.0,8427,7023,9702,9344,8865,11650,11778,11306,10466,10997,10567,9934,120059
1,Altgeld,13281 S. Corliss Ave.,Chicago,60827.0,1258,708,854,804,816,870,713,480,702,927,787,692,9611
2,Archer Heights,5055 S. Archer Ave.,Chicago,60632.0,8104,6899,9329,9124,7472,8314,8116,9177,9033,9709,8809,7865,101951
3,Austin,5615 W. Race Ave.,Chicago,60644.0,1755,1316,1942,2200,2133,2359,2080,2405,2417,2571,2233,2116,25527
4,Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634.0,12593,11791,14807,14382,11754,14402,14605,15164,14306,15357,14069,12404,165634

In [ ]:
df.tail()
# This will display the last 5 rows of the DataFrame

In [ ]:
df.describe()
# This will provide statistical details

In [ ]:
print(df.columns)
# This will display a list of all the column names in the DataFrame.

In [ ]:
# How do you get the first ten rows of the DataFrame?
df.head(10)

# Last 10 rows
df.tail(10)

In [ ]:
# Rows 30 -> 40
df[30:41]

In [ ]:
# How do you get a specific column, e.g., 'year'? I used 'january'
#  What kind of type() has the column
january_column = df['january']
print(type(january_column))
print(january_column.head())

<class 'pandas.core.series.Series'>
0     8427
1     1258
2     8104
3     1755
4    12593
Name: january, dtype: int64

In [ ]:
# A PKL file is a file saved in the Python pickle format, which contains serialized Python objects 
# The contents can vary but typically include Python objects like dictionaries, lists, or dataframes.

import pickle

# Load the .pkl file
with open('C:/Users/davio/myenv/data/all_years.pkl', 'rb') as f:
    data = pickle.load(f)

# Inspect the contents
print(data)

             branch                  address     city  zip code  january  \
0       Albany Park     5150 N. Kimball Ave.  Chicago   60625.0     8427
1           Altgeld    13281 S. Corliss Ave.  Chicago   60827.0     1258
2    Archer Heights      5055 S. Archer Ave.  Chicago   60632.0     8104
3            Austin        5615 W. Race Ave.  Chicago   60644.0     1755
4     Austin-Irving  6100 W. Irving Park Rd.  Chicago   60634.0    12593
..              ...                      ...      ...       ...      ...
958       Chinatown   2100 S. Wentworth Ave.  Chicago   60616.0     4795
959        Brainerd         1350 W. 89th St.  Chicago   60620.0      255
960   Brighton Park      4314 S. Archer Ave.  Chicago   60632.0     1394
961   South Chicago     9055 S. Houston Ave.  Chicago   60617.0      496
962     Chicago Bee        3647 S. State St.  Chicago   60609.0      799

     february  march  april    may   june   july  august  september  october  \
0        7023   9702   9344   8865  11650  11778   11306      10466    10997
1         708    854    804    816    870    713     480        702      927
2        6899   9329   9124   7472   8314   8116    9177       9033     9709
3        1316   1942   2200   2133   2359   2080    2405       2417     2571
4       11791  14807  14382  11754  14402  14605   15164      14306    15357
..        ...    ...    ...    ...    ...    ...     ...        ...      ...
958      4258   5316   5343   4791   5367   5477    5362       4991     4847
959       264    370    386    399    421    337     373        361      276
960      1321   1327   1705   1609   1578   1609    1512       1425     1603
961       528    739    775    587    804    720     883        681      697
962       543    709    803    707    931    778     770        714      835

     november  december     ytd  year
0       10567      9934  120059  2011
1         787       692    9611  2011
2        8809      7865  101951  2011
3        2233      2116   25527  2011
4       14069     12404  165634  2011
..        ...       ...     ...   ...
958      4035      3957   58539  2022
959       256       201    3899  2022
960      1579      1278   17940  2022
961       799       615    8324  2022
962       718       788    9095  2022

[963 rows x 18 columns]

C:\Users\davio\AppData\Local\Temp\ipykernel_14468\3087930607.py:5: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  data = pickle.load(f)

In [ ]:
#loc[]  is for accessing data by labels.

df.loc[2, 'branch']

# iloc[] is for accessing data by index positions

df.iloc[0, 1]

'5150 N. Kimball Ave.'

In [110]:
# Sort values in the 'january' column in ascending order
df_sorted = df.sort_values(by='january', ascending=True)
print(df_sorted)

                              branch                 address     city  \
21    Daley, Richard M. - W Humboldt      733 N. Kedzie Ave.  Chicago
29            Greater Grand Crossing        1000 E. 73rd St.  Chicago
23                           Dunning   7455 W. Cornelia Ave.  Chicago
42                    Little Village     2311 S. Kedzie Ave.  Chicago
27               Galewood-Mont Clare     6871 W. Belden Ave.  Chicago
..                               ...                     ...      ...
12              Bucktown-Wicker Park  1701 N. Milwaukee Ave.  Chicago
17                         Chinatown  2353 S. Wentworth Ave.  Chicago
40                   Lincoln Belmont     1659 W. Melrose St.  Chicago
64                   Sulzer Regional    4455 N. Lincoln Ave.  Chicago
31  Harold Washington Library Center        400 S. State St.  Chicago

    zip code  january  february  march  april    may   june   july  august  \
21   60612.0        0         0      3      5      3      0   5544    8248
29   60619.0        0         3    190    971   2463   3660   3503    4432
23   60634.0        0         0      1      5   6242   8177   8417    8336
42   60623.0        0         0      0      0      0      0      0       2
27   60707.0      519       546    758    760    572    847   1073    1188
..       ...      ...       ...    ...    ...    ...    ...    ...     ...
12   60647.0    13113     12220  15705  14535  14146  15115  14948   15804
17   60616.0    14027     11021  14094  14346  13080  13615  13609   13664
40   60657.0    14395     12810  17392  16567  14487  18539  17242   17970
64   60625.0    50375     42237  57391  50874  49563  53322  54941   56920
31   60605.0    79210     67574  89122  88527  82581  82100  80219   85193

    september  october  november  december     ytd
21       6748     6421      6207      5132   38311
29       3642     4142      3665      3251   29922
23       7218     8562      7516      6418   60892
42          0    15910     14632     11732   42276
27        807      823       781       544    9218
..        ...      ...       ...       ...     ...
12      15233    15428     14650     12499  173396
17      12098    13107     12661     13127  158449
40      16568    17209     16397     14692  194268
64      51054    54375     52274     46408  619734
31      81400    82236     79702     68856  966720

[80 rows x 17 columns]